.DS_Store
# editor files
*.swp
*.iml
.idea

# compilation objects
target/
.project
.settings/
.classpath
dependency-reduced-pom.xml
output.txt
pom.xml.versionsBackup
integration_test_suite/integration_tests/src/test/resources/common/**.jar
output.log
stress-test.log
test.sh
test.log
