Package: [[name]]
Version: [[version]]
Section: misc
Priority: optional
Architecture: all
Depends:
Maintainer: Conor Hennessy <conor@soundcloud.com>
Description: expose jmx values as json webserver
Distribution: development
