name: Manual Build
on: [workflow_dispatch]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'corretto'
          cache: maven
      - name: Build
        run: |
          ./integration_test_suite/pull-smoke-test-docker-images.sh
          ./mvnw clean install
          ./mvnw javadoc:jar
