name: Manual Build
on: [workflow_dispatch]
jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          java-version: '21'
          distribution: 'corretto'
          cache: maven
      - name: Build
        run: |
          ./integration_test_suite/pull-smoke-test-docker-images.sh
          ./mvnw --batch-mode clean install
          ./mvnw --batch-mode javadoc:jar
